        <div ng-controller="MainCtrl">
            <p class = "win-type-base">Enter your Name: <input class='win-textbox' type = "text" ng-model = "name"></p>
            <p class="win-type-subtitle">Hello <span ng-bind = "name"></span>!</p>
            <div>
                <p class = "win-type-base">Common cards: <input class='win-textbox' id="common" type = "number" ng-model = "common"  placeholder="Common cards"> <button class="win-button win-button-primary" ng-click="adds('common',common)">Add</button> <button class="win-button win-button-seconday" style ="background-color: yellow"; ng-click="add('common',common,'gc',0)">Golden</button></p> 
                <p class = "win-type-base">Rare cards: <input class='win-textbox' id="rare"  type = "number" ng-model = "rare"  placeholder="Rare cards"> <button class="win-button win-button-primary" ng-click="adds('rare',rare)">Add</button><button class="win-button win-button-seconday" style ="background-color: yellow"; ng-click="add('rare',rare,'gr',1)">Golden</button></p> 
                <p class = "win-type-base">Epic cards: <input class='win-textbox' id="epic"  type = "number" ng-model = "epic" placeholder="Epic cards"> <button class="win-button win-button-primary" ng-click="adds('epic',epic)">Add</button><button class="win-button win-button-seconday" style ="background-color: yellow"; ng-click="add('epic',epic,'ge',2)">Golden</button></p> 
                <p class = "win-type-base">Legendary cards: <input  class='win-textbox' id="lege" type = "number" ng-model = "legendary" placeholder="Legendary cards"> <button class="win-button win-button-primary" ng-click="adds('legendary',legendary)">Add</button><button class="win-button win-button-seconday" style ="background-color: yellow"; ng-click="add('legendary',legendary,'gl',3)">Golden</button></p> 
            </div>
            <p  class = "win-type-base">Amount of dust aquired on disechant:</p>
            <ol>
                <li class = "win-type-body">{{DustAmount[0].name}} : {{+DustAmount[0].cost * common + gc}}</li>
                <li class = "win-type-body">{{DustAmount[1].name}} : {{+DustAmount[1].cost * rare +  gr}}</li>
                <li class = "win-type-body">{{DustAmount[2].name}} : {{+DustAmount[2].cost * epic +  ge}}</li>
                <li class = "win-type-body">{{DustAmount[3].name}} : {{+DustAmount[3].cost * legendary + gl}}</li>
            </ol>
            <p class ="win-type-body">DUST TOTAL: {{0 + DustAmount[0].cost * common--DustAmount[1].cost * rare--DustAmount[2].cost * epic--DustAmount[3].cost * legendary + gt}}</p>
        </div>

        
