        <div ng-controller="MainCtrl">
            <p class = "win-type-base">Enter your Name: <input class='win-textbox' type = "text" ng-model = "name"></p>
            <p class="win-type-subtitle">Hello <span ng-bind = "name"></span>!</p>
            <div>
                <p class = "win-type-base">Common cards: <input class='win-textbox' id="common" type = "number" ng-model = "common"  placeholder="Common cards"> <button class="win-button win-button-primary" ng-click="add('common',common)">Add</button></p> 
                <p class = "win-type-base">Rare cards: <input class='win-textbox' id="rare"  type = "number" ng-model = "rare"  placeholder="Rare cards"> <button class="win-button win-button-primary" ng-click="add('rare',rare)">Add</button></p>
                <p class = "win-type-base">Epic cards: <input class='win-textbox' id="epic"  type = "number" ng-model = "epic" placeholder="Epic cards"> <button class="win-button win-button-primary" ng-click="add('epic',epic)">Add</button></p>
                <p class = "win-type-base">Legendary cards: <input  class='win-textbox' id="lege" type = "number" ng-model = "legendary" placeholder="Legendary cards"> <button class="win-button win-button-primary" ng-click="add('legendary',legendary)">Add</button></p>
            </div>
            <p  class = "win-type-base">Amount of dust aquired on disechant:</p>
            <ol>
                <li class = "win-type-body">{{DustAmount[0].name}} : {{+DustAmount[0].cost * common}}</li>
                <li class = "win-type-body">{{DustAmount[1].name}} : {{+DustAmount[1].cost * rare}}</li>
                <li class = "win-type-body">{{DustAmount[2].name}} : {{+DustAmount[2].cost * epic}}</li>
                <li class = "win-type-body">{{DustAmount[3].name}} : {{+DustAmount[3].cost * legendary}}</li>
            </ol>
            <p class ="win-type-body">DUST TOTAL: {{0 + DustAmount[0].cost * common--DustAmount[1].cost * rare--DustAmount[2].cost * epic--DustAmount[3].cost * legendary}}</p>
        </div>

        
